.filter-container {
  width: 100%;
}
.simple-list-container {
  width: 30%;
}
.entity-form-container {
  width: 70%;
}

@media (max-width: 991px) {
  .simple-list-container {
    width: 100%;
  }
  .entity-form-container {
    width: 100%;
  }
}
