body {
  font-family: Roboto Thin, sans-serif;
}
* {
  box-sizing: border-box;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.form {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-row {
  margin: 10px 0;
  display: flex;
}

.form-row label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
  font-weight: bold;
}
